//** Brand/Application colors
$nm-blue:			#002b49;
$nm-blue--pastel:	#7fa7be;
$nm-blue--muted:	#005129;

$nm-gold:			#ffb81c;
$nm-gold--pastel:	#ffface;
$nm-gold--muted:	#996e11;

// cerulean blue
$cblue:				#00abd3;
$cblue--pastel:		#a5deed;
$cblue--muted:		#127c99;

// denim blue
$dblue:				#336283;
$dblue--pastel:		#d7e8f1;
$dblue-muted:		#23445b;

// royal blue
$rblue:				#0068b3;
$rblue--pastel:		#c1e9fa;
$rblue--muted:		#00487c;

// foam green
$fgreen:			#00b6af;
$fgreen--pastel:	#a6e6e3;
$fgreen--muted:		#007f7a;

// kelly green
$kgreen:			#16b161;
$kgreen--pastel:	#d3f0e1;
$kgreen--muted:		#0f7b43;

// cinnamon red
$cred:				#ec544a;
$cred--pastel:		#fee3e0;
$cred--muted:		#a43a33;
	

// official neutrals
$smoke-white:		#f1f1f1; // usage: background color
$silver-grey:		#e6e6e6; // usage: divider lines 
$carbon-grey:		#9c9c9c; // usage: supporting text
$charcoal:			#444;	 // usage: body copy



//** greyscale
$white:				#fff;
$black:				#383838;
$lightest-grey:		#f1f1f1;
$light-grey:		#e6e6e6;
$medium-grey:		#a3a3a3;
$medium-grey-alt:	lighten($medium-grey, 13%);
$dark-grey:			#444;
$darkest-grey:		#333;

$color-link:		#0000ee;
$color-link-visited: #551a8b;

$color-highlight:	#fffbcc;
