$smallest:  	"(min-width: 26em)";
$small: 	   	"(min-width: 42em)";
$medium: 	   	"(min-width: 48em)";
$large:			"(min-width: 64em)";
$largest:  		"(min-width: 70em)";

$high-density: 	"(-webkit-min-device-pixel-ratio: 1.5)",
				"(min--moz-device-pixel-ratio: 1.5)",
				"(-o-min-device-pixel-ratio: 3/2)",
				"(min-device-pixel-ratio: 1.5)";