.search-filters {
	@include no-list;
	margin-top: 2px;
	
	li {
		padding: 1em;
		height: 3em;
		overflow: hidden;
		transition: .2s;
		
		h4 {
			font-size: 1em;
			position: relative;
		}
		
		&.is-expanded {
			min-height: 11em;
		}
	}
}

.toggle-single-filter {	
	border: 1px solid $medium-grey;
	border-radius: 50%;
	float: right;
	width: 18px;
	height: 18px;
	padding: 0;
	transition: .3s;
	
	&:before,
	&:after {
		background: $medium-grey;
		content: '';
		display: block;
		width: 10px;
		height: 1px;
		position: absolute;
		left: calc(50% - 5px);
		top: 50%;
		transition: .2s;
	}
	
	&:after {
		transform: rotate(-90deg);
		transition-delay: .05s;
	}
	
	&:hover,
	&:focus {
		border-color: $fgreen;
		outline: none;
		
		&:before,
		&:after {
			background: $fgreen;
		}
	}
	
	&.is-expanded {
		&:before {
			transform: rotate(180deg);
		}
		
		&:after {
			transform: rotate(180deg);
		}
	}
	
	span {
		border: 1px solid $white;
		border-radius: 50%;
		display: block;
		width: 10px;
		height: 10px;
		background: $fgreen;
		position: absolute;
		top: -4px;
		right: -4px;
		transform: scale(0);
	}
	
	&.is-filtered span {
		transform: scale(1);
		transition: .15s;
		transition-delay: 1s;
	}
}